@charset "utf-8";
/* CSS Document */
ul.ap_pagination *, ul.ap_pagination:before *, ul.ap_pagination:after *{
	box-sizing:border-box;
}
ul.ap_pagination {
	background: none repeat scroll 0 0 #FFF;
	border-bottom:1px solid #000;
	padding:0px 0px 10px 0px;
	width:98%;
}
ul.ap_pagination li{
	padding:8px 10px;
	margin:0px;
}
ul.layout_V.ap_pagination {
	overflow: hidden;
	width: 28px;	
}
ul.layout_V.ap_pagination li{
	padding:2px 2%;
	margin:0px;
	width:98%;
}
ul.ap_pagination li {
	padding:0;
	width: 6%;
	margin-bottom: 4px;
	margin-right: 4px;
	background-color: #3F4443;
	border: medium none;
	box-shadow: 0 1px 0 rgba(100, 100, 100, 0.25);
	cursor: pointer;
	font-size: 18px;
}
ul.ap_pagination li a {
	color: #fff;
	text-shadow: 1px 1px #666;
	width:100%;
	padding: 4px;
	display: block;
}
ul.ap_pagination li:active, 
ul.ap_pagination li:visited{
	background-color: #e78e1b;
}
ul.ap_pagination li:active, 
ul.ap_pagination li:visited,
ul.ap_pagination li a:hover,
ul.ap_pagination li a.selected{
    text-decoration:none;
	color: #fff;
	text-shadow: 1px 1px #999;
	background-color: #666;	
}
@media only screen and (max-width: 480px) {
		ul.ap_pagination li {
			height: 28px;
			width: 28px;
			margin-right:3px;
			margin-bottom:3px;
		}
	}