@charset "utf-8";
/* CSS Document */
ul.ap_pagination *, ul.ap_pagination:before *, ul.ap_pagination:after *{
	box-sizing:border-box;
}
ul.ap_pagination {
	background: none repeat scroll 0 0 #FFF;
	border-bottom:1px solid #000;
	padding:0px 0px 10px 0px;
	border-top: 0;
	width:98%;
}
ul.ap_pagination li{
	padding:8px 10px;
	margin:0px;
}
ul.layout_V.ap_pagination {
	overflow: hidden;
	width: 28px;	
}
ul.layout_V.ap_pagination li{
	padding:2px 2%;
	margin:0px;
	width:98%;
}
ul.ap_pagination li {
	padding:0;
	width: 6%;
	margin-bottom: 4px;
	margin-right: 4px;
	background-color: #eb3e46;
	border: medium none;
	box-shadow:0 2px 1px #eb3e46, 0px 2px 1px #eb3e46;
	cursor: pointer;
	font-size: 14px;
	overflow: hidden;
}
ul.ap_pagination li a {
	background-color: #eb3e46;
    border: medium none;
    cursor: pointer;
    letter-spacing: 1px;
    padding: 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
	display:block;
	overflow: hidden;
	color: #fff;
	border: 4px solid #eb3e46;
	
}
ul.ap_pagination li a.selected,
ul.ap_pagination li a:hover{
	background-color: #fff;
    color: #eb3e46;
    overflow: hidden;
	box-shadow: 0;
	border: 4px dotted #eb3e46;
    transform: translateX(0%) translateY(0%) rotateZ(340deg);
	padding: 0;
	text-shadow: 0px 1px #353333;
	border-radius:18px;
}
@media only screen and (max-width: 480px) {
		ul.ap_pagination li {
			height: 28px;
			width: 28px;
			margin-right:3px;
			margin-bottom:3px;
		}
	}